@import "tailwindcss";

@theme{
    --color--bg-primary: #ffffff;
    --color--bg-secondary: #f8fafc;
    --color--text-primary: #0f172a;
    --color--text-secondary: #475569;
    --color--accent: #3b82f6;
    --color--border: #e2e8f0;
      /* Dark Theme */
    --color--bg-primary: #020617;
    --color--bg-secondary: #0f172a;
    --color--text-primary: #f1f5f9;
    --color--text-secondary: #cbd5e1;
    --color--accent: #60a5fa;
    --color--border: #334155;

}

@custom-variant dark (&:where(.dark, .dark *));